# Archivo de entorno para Córtate.cl

PORT=5000

# MongoDB Atlas o local
MONGO_URI=mongodb+srv://ignaciorodriguezyanine:Yanine123@irodriguezy.5mhbmtf.mongodb.net/?retryWrites=true&w=majority&appName=irodriguezy


# Clave secreta para JWT
JWT_SECRET=escribe_una_clave_secreta_segura

# Clave API de Google Places
GOOGLE_API_KEY=AIzaSyDj7gIzf_lDToiZQbMN5_XSfZCxDp_rGjg
